.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Вирівнювання дівів по центру */
  gap: 16px; /* Відступи між полями */
  padding: 20px;
}

.form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Вирівнювання лейблів та полів до лівого краю */
  width: 100%; /* Щоб дів займав всю ширину форми */
}

.field,
.form select,
.form textarea {
  width: calc(100% - 2px); /* Коригування ширини з урахуванням бордера */
  margin: 5px 0; /* Відступ зверху та знизу для поля */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.label {
  margin-left: 1px; /* Невеликий відступ зліва для лейблу */
  font-size: 14px; /* Розмір тексту для лейблу */
}

.error {
  color: orange; /* Колір тексту помилок */
  font-size: 12px; /* Розмір тексту помилок */
  margin-left: 1px; /* Відступ зліва для тексту помилки */
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  align-self: center; /* Вирівнювання кнопки по центру */
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
